black==19.10b0
colorama==0.4.3
flake8==3.8.3
isort==5.5.2
numpy==1.19.2
pip-check==2.6
pipreqs==0.4.10
pre-commit==2.7.1
psutil==5.7.2
pur==5.3.0
pydocstyle==5.1.1
pylint==2.6.0
pytest==6.0.2
PyYAML==5.3.1
requests==2.24.0
rope==0.17.0
tabulate==0.8.7
toml==0.10.1
tqdm==4.49.0
